In [ ]:
#formating a Data Table

In [1]:
## creating DataFrame using python
# Dataframe from a dictionary
import pandas as pd
am_as = {"Name" : ["Aminu Atiku", "Abubakar Abdullahi", "Zainab Lawal", "Ibrahim Kabir", "Fatima Aliyu", "Binta Tukur", "Audu Abu", "Saminu Kabir", "Ayuba Lawal", "Khasim Kabir"], "Age" : [30, 34, 23, 54, 25, 43, 45, 53, 25, 45], "Gendar" : ["male", "male", "female", "male", "female", "female", "male", "male", "male", "male"], "Blood G" : ["o", "o", "o", "A", "B", "B", "C", "B", "A", "o"], "State" : ["Katsina", "Katsina", "Katsina", "Katsina", "Katsina", "Katsina", "Katsina", "Kano", "Kano", "Kaduna"], "LG" : ["Dutsinma", "Dutsinma", "Dutsinma", "Dutsinma", "Dutsinma", "Dutsinma", "Kurfi", "Dala", "Rano", "Kudan"], "Staff ID No" : [211, 212, 213, 214, 234, 251, 272, 241, 233, 272], "Salary" : [20000, 20000, 20000, 20000, 20000, 20000, 20000, 20000, 20000, 20000], "Loan" : [1000, 2000, 1000, 2000, 1000, 1000, 1000, 2000, 2000, 1000]}
df = pd.DataFrame(am_as)
print(df)

                 Name  Age  Gendar Blood G    State        LG  Staff ID No  \
0         Aminu Atiku   30    male       o  Katsina  Dutsinma          211
1  Abubakar Abdullahi   34    male       o  Katsina  Dutsinma          212
2        Zainab Lawal   23  female       o  Katsina  Dutsinma          213
3       Ibrahim Kabir   54    male       A  Katsina  Dutsinma          214
4        Fatima Aliyu   25  female       B  Katsina  Dutsinma          234
5         Binta Tukur   43  female       B  Katsina  Dutsinma          251
6            Audu Abu   45    male       C  Katsina     Kurfi          272
7        Saminu Kabir   53    male       B     Kano      Dala          241
8         Ayuba Lawal   25    male       A     Kano      Rano          233
9        Khasim Kabir   45    male       o   Kaduna     Kudan          272

   Salary  Loan
0   20000  1000
1   20000  2000
2   20000  1000
3   20000  2000
4   20000  1000
5   20000  1000
6   20000  1000
7   20000  2000
8   20000  2000
9   20000  1000